{% extends 'base.html' %}

{% block 'title' %} Contracts {% endblock 'title' %}

{% block 'content' %}
<h1 class="titulos"><b>Contracts</b></h1>

<p class="texto">Here is a list of all the Contracts of the Ocean project. 
    Always check here for the latest official contract addresses!</p>

<h5 style="padding-top: 50px;">🛑DO NOT SEND FUNDS TO TOKEN ADDRESSES: THEY CANNOT BE REFUNDED</h5>

<h2 class= "subtitulo">Token Contracts</h2>
<p class="texto">$Ocean Token:</p>
<p class="texto">Bscscan link:</p>
<p class="texto">This contract address is for the $Ocean token.</p>
<p class="texto">Import this address to your wallet to start sending and receiving $Ocean.</p>
<p class="texto">Always verify that you have added the $Ocean token to your wallet using only this address.</p>

<h5 style="padding-top: 50px;">🛑 DO NOT SEND FUNDS TO THIS ADDRESS!</h5>

{% endblock 'content' %}