{% extends 'base.html' %}

{% block 'title' %} Presentation of the platform {% endblock 'title' %}

{% block 'content' %}
<h1 class="titulos"><b>Presentation of the platform</b></h1>
<h4 class="textodest">Welcome to Ocean!!</h4>

<h2 class="subtitulo"><b>What is Ocean?</b></h2>

<p class="texto">Ocean is a fully fair betting platform, with various modes to entertain and please its users.</p>

<h2 class="subtitulo"><b>Why choose Ocean and not another platform?</b></h2>

<p class="texto">Our big differentiator compared to other betting houses is that there is no need for document verification for registration on our platform. 
    Deposits and withdrawals are processed instantly. We will cover more than 6 networks, including: 
    Binance Smart Chain (BSC), Solana, Tron, Avalanche, Ethereum, and Polygon.</p>
{% endblock 'content' %}