{% extends 'base.html' %}
{% load static %}

{% block 'title' %} MarketPlace {% endblock 'title' %}

{% block 'content' %}
<h1 class="titulos"><b>MarketPlace</b></h1>

<p class="texto">Our MarketPlace will be used for users to trade their Royalty cards. 
    This gives users the opportunity to create a wider base of assets. We will also create the marketplace to target our future P2E (Play to Earn) ecosystem!</p>

<img class= "imagem" src="{% static 'img/market.png'%}" alt="Crash" onclick="enlarge()"></a>

{% endblock 'content' %}