{% extends 'base.html' %}

{% block 'title' %} Pre-sale {% endblock 'title' %}

{% block 'content' %}
<h1 class="titulos"><b>Pre-sale</b></h1>

<p class="texto">Those who make a purchase of over 10 BNBs will receive 1 Royalty card. Remembering that there will be only 1,500 units.</p>
<p class="texto">Will have a 10% profit right at launch.</p>
<br>
<p class="texto">We will inject 60% of the pre-sale into the liquidity of our token (Ocean). I will explain now in detail where the other 40% will go.</p>
<p class="texto">License purchase (Very important, for the platform to start accepting fiat currencies, ex: Dollar, Euro, Real...)</p>


<h4 class="textodest">Platform liquidity to cover all the networks we will have:</h4>
<p class="texto">Platform security</p>
<p class="texto">Marketing</p>
<p class="texto">Continuous development of the platform</p>


{% endblock 'content' %}