{% extends 'base.html' %}

{% block 'title' %} RoadMap {% endblock 'title' %}

{% block 'content' %}

<h1 class="titulos"><b>RoadMap</b></h1>

<p class="texto">Our roadmap will focus only on the short term!</p>
<p class="texto">Other longer-term features are planned, but we will keep it simple.</p>

<h2 class= "subtitulo">Q1 2023</h2>

<p class="texto">1 million USD transacted on the platform</p>
<p class="texto">10,000 users</p>
<p class="texto">Dividend Panel</p>
<p class="texto">New game available (dice)</p>
<p class="texto">Audit</p>
<p class="texto">Partnerships with other Projects</p>

<h2 class= "subtitulo">Q2 2023</h2>

<p class="texto">10 million USD transacted on the platform</p>
<p class="texto">20,000 users</p>
<p class="texto">DAO Launch</p>
<p class="texto">Ability to add any token to the platform through DAO voting</p>


{% endblock 'content' %}