{% extends 'base.html' %}

{% block 'title' %} Royalty cards {% endblock 'title' %}

{% block 'content' %}
<h1 class="titulos"><b>Royalty cards</b></h1>

<p class="texto">We know that we need a lot of help from the community to develop this project, so we developed "Royalty Cards," 
    which will give the right to the platform's profits to those who obtain the card.</p>

<p class="texto">There will only be 1,500 Royalty Cards.</p>
<p class="texto">There will be 2 rarities, VIP and Premium.</p>
<p class="texto">There will be a Marketplace within the platform for them to be traded.</p>
<p class="texto">I will explain now how the Profits for cardholders will work.</p>

<p class="texto">Example: the platform starts the month with $100,000 in liquidity and ends the month with $200,000 in cash. 
    We will take 30% of $100,000, which is $30,000, and divide it among the cardholders. 20% for VIP holders and 10% for Premium.</p>

<p class="texto">The Royalty Cards will be bought only with Token $Ocean (No price defined yet).</p>
{% endblock 'content' %}