{% extends 'base.html' %}

{% block 'title' %} Token {% endblock 'title' %}

{% block 'content' %}
<h1 class="titulos"><b>TOKEN</b></h1>

<p class="texto">The Ocean token can be staked within our own platform.</p>
<p class="texto">It can be used for bets on the platform.</p>
<p class="texto">0% fee on purchase and 0% on sale</p>
<p class="texto">Token Injection</p>
<p class="texto">I will explain now how the Profit Injection in the token will work.</p>

<p class="texto">Example: the platform starts the month with $100,000 in liquidity and ends the month with $200,000. 
    We will take 70% of $100,000, which was the Profit, which is $70,000, and we will make purchases on the chart, for example, 7 purchases of $10,000. 
    The tokens that are acquired in this purchase will be burned and the hash will be disclosed to the community.</p>

<h4 class = "textodest">The question is: where do the other 30% go? You will find the answer in the "Royalty Cards" guide.</h4>

{% endblock 'content' %}